*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: azure;
}
header h1{
   text-align: center;
   background-color: rgb(186, 250, 229);
   padding: 30px;
   font-size: 2em;
}

nav ul{
text-align: center;
padding: 20px;
list-style-type: none;
text-align: center;
flex-direction: column; 


gap: 1em;
}  
nav ul li {
    display: inline; 
    margin: 0 1em; 
 
}
nav ul li a{
    text-decoration: none;
    list-style-type: none;
    color: rgb(138, 225, 7);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
       
    
}
nav ul li a:hover{
    background-color: rgb(225, 222, 222);
}
main h2{
    padding: 5px;
    margin-left: 7rem;
    
}

 .product-list{
    height: 100%;
 }
.product{  
   width: 100%;  
   border-radius: 15px;
   background-color: white;
   box-shadow: 5px 5px 10px rgb(130, 127, 127);  

   margin-bottom: 35px;  
 
}
#section1 p,  #section2 p, #section3 p{
    text-align: center;
    line-height: 25px;
    padding: 5px;
    font-size: 17px;
}

#section1 h2, #section2 h2, #section3 h2{
   text-align: center;
    margin-right: 60px;
}

.price{
    color: green;
    font-weight: bold;
}

.product img{
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    text-align: center;
}
footer{
    border: 1px solid black;
    padding: 30px;
    margin-top: 90px;
    background-color: green;
    text-align: center;
    color: white;
    
}

@media (min-width: 768px) {

    header h1 {
        font-size: 2em;
        padding: 30px;
    }
    .product-list{
        display: flex;
        margin-left: 80px;
        flex: 1 1 50em;
        gap: 3em;
        justify-content: center;
    }   
}
